doctype html
html
    head
        title= 'Drunkerbot Status Page'
        link(rel='stylesheet', href='/stylesheets/layout.css')
        //- link(rel='stylesheet', title='light' href='/stylesheets/style_light.css')
        link(rel='stylesheet', title='dark' href='/stylesheets/style_dark.css')
    body
