extends header
block content
    div#banner
        h1= botstuff.username
    p A bot for doing things humans are too drunk to do themselves.
    br
    div#linksbox
        p
            a(href='https://github.com/HardWareFlare/drunkerbot')= botstuff.username + ' Code Repo'
            br
            a(href='https://github.com/IntPirate/DrunkerBoxes') DrunkerTracker Code Repo
