/*
██       █████  ██    ██  ██████  ██    ██ ████████
██      ██   ██  ██  ██  ██    ██ ██    ██    ██
██      ███████   ████   ██    ██ ██    ██    ██
██      ██   ██    ██    ██    ██ ██    ██    ██
███████ ██   ██    ██     ██████   ██████     ██
*/
.ui-tabs .ui-tabs-nav {
    padding: .2em .2em .2em;
}

.ui-accordion .ui-accordion-content {
    padding: 0px;
    overflow: hidden;
}

* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#bodyholder {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#livebox, #linksbox {
    width: 80%;
    overflow: hidden;
}

body {}

#banner {}

#UserData {}

h1 {}

p {}

.dootRow {
    margin: 2px;
    ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.dootCell {
    min-width: 12%;
    display: inline-block;
    overflow: hidden;
    margin: auto;
    padding: 4px;
}

.dootCellName {
    width: 24%;
    flex-grow: 1;
    text-align: left;
}

.dootCellAlt {}

.dootCellDouble {
    min-width: 24%;
}

.discordLogin {
    display: flex;
    width: 100%;
    padding: 4px;
    align-items: center;
    justify-content: center;
}

.discordLogin a {
    background: #7289DA;
    padding: 0 20px;
    line-height: 35px;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-sefir;
    font-size: 20px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
}
