.ui-corner-top, .ui-corner-br, .ui-corner-bl {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

* {
    font-family: trebuchet ms;
}

body {
    background: url('/img/red_bg_trans.png');
    background-repeat: no-repeat;
    background-position: top 100px center;
    background-attachment: fixed;
    background-size: contain;
    color: #AAAAAA;
    background-color: #232323;
}

#bodyholder {
    background: rgba(0, 0, 0, 0.6);
}

#banner {
    background-color: #660000;
}

#UserData {
    background-color: #990000;
}

.userNameText {
    font-weight: bold;
    font-size: 20px;
    color: #DDDDDD;
}

h1 {
    font-family: impact;
    font-weight: lighter;
    color: #DDDDDD;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

p {
    font-family: trebuchet ms;
    font-weight: normal;
}

.dootRow {}

.dootCell {
    background-color: #444444;
}

.dootCellName {}

.dootCellAlt {
    background-color: #666666;
}

.downdootText {
    color: #9999FF;
}

.updootText {
    color: #FFAA99;
}
